.category-container{
    display: block;
    margin: 0 auto;
    width: 80%;
        
    h1{
        text-align: center;
        margin-top: 90px;
        @media(max-width : 540px){
            font-size: 20px;
        }
    }

    .gallary-img{
        position: relative;
            .img1{
                position: absolute;
                left: 0;
                top: 0;
                width: 60%;

                @media(max-width:768px){
                    width: 55%;  
                }
                @media(max-width:540px) and (min-width:540px){
                    height: 118px;
                }
                @media(max-width: 539px){
                   
                    min-width: 50%;
                }
                @media(max-width: 320px){
                    min-height: 117px;
                }
                @media(min-width: 1299px){
                    width: 58%;
                    height: 400px;
                }
            }
            .img2{
                position: absolute;
                right: 0;
                height: 330px;

                @media(max-width:768px){
                    height: 240px; 
                    min-width: 40%;
                }
                @media(max-width: 1024px){
                    width: 35%;
                }
                @media(max-width: 575px){
                    min-width: 40%;
                    height: 120px;
                }
                @media(min-width: 1299px){
                    width: 40%;
                    height: 400px;
                }
            }
            .img3{
                position: absolute;
                top: 350px;
                height: 280px;
                width: 258px;

                @media(max-width:768px){
                    top:250px;
                    left: 0;
                    width: 190px;
                    height: 258px;
                }
                @media(max-width:1024px){
                    left: 0;
                }
                @media(max-width:540px) and (min-width:540px){
                    top:130px;
                    width: 238px;
                    height: 120px;
                }
                @media(max-width: 539px){
                    top:130px;
                    max-width: 55%;
                    height: 120px;
                }
                @media(min-width: 1299px){
                    top: 415px;
                    left: 0;
                    width: 32%;
                    height: 285px;
                }
                
            }
            .img4{
                position: absolute;
                top: 350px;
                left: 285px;
                width: 240px;
                height: 280px;

                @media(max-width:768px){
                    top:250px;
                    left: 210px;
                    width: 190px;
                    height: 258px;
                }
                @media(max-width:540px) and (min-width:540px){
                    top:130px;
                    left: 258px;
                    max-width: 40%;
                    height: 120px;
                }
                @media(max-width: 539px){
                    top:130px;
                    left: 200px;
                    max-width: 40%;
                    height: 120px;
                }
                @media(max-width: 375px){
                    top: 130px;
                    max-width: 40%;
                    height: 120px;
                    left: 60%;
                }
                @media(min-width: 1299px){
                    position: relative;
                    left: 265px;
                    top: 415px;
                    width: 32%;
                    height: 285px;
                }
            }
            .img5{  
                position: absolute;
                top: 350px;
                right: 0;
                width: 255px;
                height: 280px;

                @media(max-width:768px){
                    top:250px;
                    width: 190px;
                    height: 258px;
                }
                @media(max-width: 575px){
                    top:260px;
                    left: 0;
                    width: 100%;
                    height: 120px;
                }
                @media(min-width: 1299px){
                    position: relative;
                    left: 288px;
                    top: 415px;
                    width: 32%;
                    height: 285px;
                }
            }
            .general-btn{
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #B28564;
                color: white;
                font-size: 16px;
                padding: 12px 24px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
                @media(max-width: 575px){
                    font-size: 10px;
                     padding: 4px 8px;
                }
            }
            .btn {
            position: relative;
            top: 260px;
            left: 29%;

            @media(max-width:768px){ 
                top: 180px;
            }
            
            @media(max-width: 575px){
                top:95px;
                right: 1%;;  
                left: 27%; 
            }
            @media(max-width: 375px){
                top:89px;
            }
            @media(min-width: 1299px){
                top: 215px;
            }
            }
            .btn2{
            position: absolute;
            top: 275px;
            right: -6%;
            @media(max-width:768px){
                right: -8%;
                top: 180px;
            }
            @media(max-width:540px) and (min-width:540px){
                right: -3%;
                top: 95px;
            }
            
            @media(max-width: 539px){
                right: -11%;
                top: 95px;
            }
            @media(max-width: 375px) and (min-width: 330px){
                right: -15%;
            }
            @media(min-width: 1299px){
                right: 6%;
                margin-top: 5%;
            }
            }
            .btn3{
            position: absolute;
            left: 15%;
            top: 570px;
            @media(max-width:768px){
              top: 480px;  
            }
            @media(max-width: 575px){
               left: 26%;
               top: 220px;
            }
            @media(min-width: 1299px){
                margin-top: 7%;
            }
          }

            .btn4{
            position: absolute;
            top: 575px;
            left: 49%;
            @media(max-width:768px){
                top: 480px;  
              }
              @media(max-width: 575px){
                left: 80%;
                top: 220px;
             }
             @media(min-width: 1299px){
                 margin-left: 1.5%;
                margin-top: 7%;
            }
            }
            .btn5{
            position: absolute;
            top: 575px;
            right: -3%;
            @media(max-width:768px){
                top: 480px;  
                right: -10%;
              }
              @media(max-width: 575px){
                left: 50%;
                 top: 350px;
             }
             @media(min-width: 1299px){
                // margin-left: 1.5%;
               margin-top: 7%;
               margin-right: 6%;
           }
            }
    }
  
}